altair==4.2.2
anyio==4.13.0
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1733838630785/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1767045021/work
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1734539225393/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1772734527429/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1772788092857/work
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1772770853893/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1776866578774/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155978/work
cramjam==2.11.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1769745013/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
entrypoints==0.4
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastparquet==2026.5.0
fonttools @ file:///D:/bld/fonttools_1765632578939/work
fsspec==2026.4.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1767358723114/work
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httptools==0.7.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1766355322435/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1770566174/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1772790189/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jmespath_1769161799/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488777/work
lightgbm==4.6.0
MarkupSafe @ file:///D:/bld/markupsafe_1772444962153/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1771853852/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1770098408/work/dist/numpy-2.4.2-cp312-cp312-win_amd64.whl#sha256=c8807c27a11e2491e06292976e3fc7a3ebaaec6532787fff4f153ce1a56a15d6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///D:/bld/bld/rattler-build_pandas_1771409001/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1770676243/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1770794018/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1771233827/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
protobuf==3.20.3
psutil @ file:///D:/bld/bld/rattler-build_psutil_1769678170/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==24.0.0
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
Pympler @ file:///home/conda/feedstock_root/build_artifacts/pympler_1733327099500/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.10.2
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-multipart==0.0.29
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1756487136/work
PyYAML @ file:///D:/bld/pyyaml_1770223253135/work
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1771716967/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1764543069/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1764589692484/work
scikit-learn @ file:///D:/bld/bld/rattler-build_scikit-learn_1765801252/work/dist/scikit_learn-1.8.0-cp312-cp312-win_amd64.whl#sha256=47fa9a061ba736b128c029d2332f8639ab6f47b82f6991b2ee375e817ed93b20
scipy @ file:///C:/bld/scipy-split_1771879240766/work/dist/scipy-1.17.1-cp312-cp312-win_amd64.whl#sha256=e61b56f06215594e06744e749dece67f07ad50ce0974895729c694c05fc5a668
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_semver_1767294175/work
setuptools==82.0.0
shiboken6==6.10.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sklearn-compat @ file:///home/conda/feedstock_root/build_artifacts/sklearn-compat_1766329668603/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==1.0.0
statsmodels @ file:///D:/bld/statsmodels_1764983047814/work
streamlit==1.57.0
tenacity==9.1.4
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
toolz==1.1.0
tornado @ file:///D:/bld/tornado_1765836408115/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
tzlocal @ file:///D:/bld/bld/rattler-build_tzlocal_1756227213/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908971129/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
uvicorn==0.47.0
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1746267078840/work
watchdog @ file:///D:/bld/bld/rattler-build_watchdog_1772608052/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
websockets==16.0
wheel==0.46.3
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xgboost @ file:///home/conda/feedstock_root/build_artifacts/xgboost-split_1772125054555/work/python-package
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
